appdirs==1.4.3
attrs==17.2.0
bleach==2.0.0
bokeh==0.12.5
certifi==2016.2.28
click==6.7
cycler==0.10.0
decorator==4.0.11
docopt==0.6.2
eli5==0.6.2
entrypoints==0.2.2
enum34==1.1.6
Flask==0.12.2
Flask-Cors==3.0.2
future==0.16.0
gevent==1.2.1
graphviz==0.7.1
greenlet==0.4.12
h5py==2.7.0
html5lib==0.999999999
humanize==0.5.1
ipykernel==4.6.1
ipython==6.0.0
ipython-genutils==0.2.0
ipywidgets==5.0.0
itsdangerous==0.24
jedi==0.10.2
Jinja2==2.9.6
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.0.1
jupyter-console==5.1.0
jupyter-core==4.3.0
Keras==2.0.3
keras-vis==0.2.1
kitchen==1.2.4
lime==0.1.1.20
MarkupSafe==1.0
matplotlib==2.0.2
mistune==0.7.4
more-itertools==2.2
nbconvert==5.1.1
nbformat==4.3.0
neptune-cli==1.6.2
networkx==1.11
notebook==5.0.0
numpy==1.12.1
olefile==0.44
opencv-python==3.2.0.7
packaging==16.8
pandas==0.20.1
pandocfilters==1.4.1
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.1.1
prompt-toolkit==1.0.14
protobuf==3.3.0
psutil==4.3.0
ptyprocess==0.5.1
Pygments==2.2.0
pykwalify==1.5.2
pyparsing==2.2.0
python-dateutil==2.4.2
pytz==2017.2
PyWavelets==0.5.2
PyYAML==3.11
pyzmq==16.0.2
qtconsole==4.3.0
quiver-engine==0.1.4.1.4
requests==2.11.1
scikit-image==0.13.0
scikit-learn==0.18.1
scipy==0.19.0
seaborn==0.7.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
sklearn==0.0
tabulate==0.7.7
tensorflow-gpu==1.1.0
terminado==0.6
terminaltables==2.1.0
testpath==0.3
Theano==0.9.0
tornado==4.5.1
tqdm==4.11.2
traitlets==4.3.2
typing==3.6.1
urllib3==1.16
voluptuous==0.9.3
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.35.0
Werkzeug==0.12.2
widgetsnbextension==2.0.0
